add_newline = true

format = """\
    $username\
    $hostname\
    $directory\
    $kubernetes\
    $git_branch\
    $git_commit\
    $git_status\
    $hg_branch\
    $docker_context\
    $package\
    $dotnet\
    $elixir\
    $elm\
    $golang\
    $haskell\
    $java\
    $kotlin\
    $julia\
    $nodejs\
    $php\
    $python\
    $ruby\
    $rust\
    $terraform\
    $nix_shell\
    $conda\
    $memory_usage\
    $aws\
    $env_var\
    $crystal\
    $cmd_duration\
    $custom\
    $jobs\
    $status\
    $time\
    $line_break\
    $character\
    """

[aws]
style = "bold blue"
format = "[$symbol($profile)(\\($region\\))(\\[$duration\\])]($style) "

[cmd_duration]
min_time = 1000
format = "$duration"

[directory]
fish_style_pwd_dir_length = 1
truncation_length = 2
truncate_to_repo = false
style = "blue"

[docker_context]
disabled = true

[git_branch]
format = "[$symbol$branch]($style) "

[git_commit]
format = "[\\($hash\\)]($style) "

[git_status]
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
staged = "+${count}"
format = "[$ahead_behind]($style)"

[golang]
symbol = "go:"
format = "[$symbol$version]($style) "
style = "underline blue"

[java]
symbol = "java:"
format = "[${symbol}${version}]($style) "
style = "underline red"

[kotlin]
symbol = "kt:"
format = "[$symbol$version]($style) "
style = "underline purple"

[python]
symbol = "py:"
format = "[${symbol}(\\($virtualenv\\))]($style) "
pyenv_version_name = true

[rust]
symbol = "rs:"
format = "[$symbol$version]($style) "
style = "underline red"

[nodejs]
format= "[$symbol$version]($style) "

[package]
disabled = true

[jobs]
symbol = "+ "
number_threshold = 0
symbol_threshold = 0

[kubernetes]
format = "[$symbol(\\($namespace\\))]($style) "
symbol = "k8s:"
style = "underline green"
disabled = false

[status]
disabled = false
symbol = "x "
format = "[$symbol$status]($style) "
